body {
  background-color: rgb(238, 238, 238);
}

a {
  color: #333;
  text-decoration: none;
}

.backLink {
  color: #333;
  font-size: 14px;
  padding: 22px 2px 2px 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-bar {
  align-items: center;
  background-color: white;
  display: flex;
  height: 30px;
  margin: 1%;
  width: 400px;
}

input:focus {
  outline: thin;
}

.search-input {
  border: 0;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  width: 92%;
}

.search-box {
  align-items: center;
  background-color: #fff159;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-right: 2%;
  width: 100%;
}

.search-icon {
  background-color: white;
  border: 0;
  border-left: lightgrey 1px solid;
  cursor: pointer;
  height: 20px;
  padding-left: 1%;
  padding-right: 1%;
  width: 20px;
}

.empty-cart {
  margin: auto;
  margin-top: 2%;
}

.cart-link {
  align-items: center;
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
}

.cart-img {
  height: 25px;
  width: 30px;
}

.hidden {
  color: rgb(238, 238, 238);
}

.radio {
  display: none;
}

.categories {
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  font-size: 12px;
  height: 100%;
  max-width: 233px;
  min-width: 233px;
  padding: 10px;
  text-align: start;
}

.category {
  color: #666;
  font-size: 14px;
  margin-bottom: 2%;
}

.category:hover {
  color: dodgerblue;
  cursor: pointer;
  font-size: 15px;
}

.category-showvalue {
  box-sizing: border-box;
  color: #333;
  font-size: 26px;
  font-weight: 700;
  height: fit-content;
  min-height: 83px;
  padding: 16px 16px 32px 0;
}

.categories-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3%;
}

.product-list {
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  min-height: 100%;
  padding: 2%;
  text-align: center;
  width: 100%;
}

.products {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.product {
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  color: #666;
  display: flex;
  flex-direction: column;
  height: 371px;
  justify-content: space-between;
  margin: 1%;
  padding: 2%;
  text-align: left;
  width: 220px;
}

.prodLink {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.product:hover {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.1) , 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.productImg {
  margin: auto;
  max-height: 170px;
  max-width: 170px;
}

.productImgContainer {
  align-items: center;
  display: flex;
  height: 170px;
  justify-content: center;
  margin: 0 auto 10%;
  width: 170px;
}

.productTitle {
  height: 63px;
  margin: 0 2%;
  overflow: hidden;
}

.productPrice {
  color: #333;
  font-size: 24px;
  font-weight: 400;
}

.free-shipping {
  color: #00a650;
  font-size: 14px;
}
