.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.products {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.categories {
  background-color: #fff159;
  box-sizing: border-box;
  font-size: 12px;
  height: 100%;
  max-width: 180px;
  min-width: 180px;
  padding: 10px;
  text-align: start;
}

.product-list {
  padding: 2%;
  text-align: center;
  width: 85%;
}

.search-bar {
  background-color: white;
  margin: 1%;
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 1%;
  width: 92%;
  border: 0;
  height: 20px;
}

.search-box {
  background-color: #fff159;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  width: 100%;
}

.empty-cart {
  margin: auto;
  margin-top: 2%;
}

.category {
  margin-bottom: 1.9%;
}

.category:hover {
  color: dodgerblue;
  font-size: 13px;
  cursor: pointer;
}

.cart-link {
  align-items: center;
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
}

.cart-img {
  width: 30px;
  height: 25px;
}

.search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 1%;
  padding-right: 1%;
  border-left: lightgrey 1px solid;
}

input:focus {
  outline: none;
}
