.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: row;
}

.categories {
  border-right: solid black 2px;
  width: 15%;
  text-align: start;
  padding: 10px;
  font-size: 12px;
}

.product-list {
  padding: 2%;
  width: 85%;
  text-align: center;
}

.search-bar {
  margin: 1%;
}

.search-box {
  margin-top: 2%;
  border-bottom: solid black 2px;
}

.empty-cart {
  margin: auto;
  margin-top: 2%;
}